<h1>Fanster</h1>
<section ng-controller="FansController">

<form ng-submit="createFan()">
  <input type="text" ng-model="newFan.name" placeholder="Name">
  <input type="text" ng-model="newFan.age" placeholder="Age">
  <input type="text" ng-model="newFan.city" placeholder="City">
  <input type="text" ng-model="newFan.state" placeholder="State">
  <input type="text" ng-model="newFan.country" placeholder="Country">
  <input type="text" ng-model="newFan.email" placeholder="Email">
  <input type="submit">
</form>

<table id="fans" class="u-full-width">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="fan in fans">
      <td>{{ fan.name }}</td>
      <td>{{ fan.age }}</td>
      <td>{{ fan.city }}</td>
      <td>{{ fan.state }}</td>
      <td>{{ fan.country }}</td>
      <td>{{ fan.email }}</td>
    </tr>
  </tbody>
</table>

</section>
