/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
background: url("https://oliviacunning.files.wordpress.com/2012/09/depositphotos_3720977_original.jpg") no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

body{
  text-align: center;
}

h1{
  font-family: 'Metal Mania', cursive;
}

input[type=submit]{
  background-color: mediumturquoise;
}

#fans{
  width: 75%;
  margin: 0 auto 200px;
  background-color: rgba(0,0,0,0.6);
  border: 5px solid #fff;
  box-shadow: 2px 2px 20px #000;
}

th {
  color: darkturquoise;
  text-align: center;
}
td{
  color: mintcream;
  text-align: center;
}
